* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 400px;     
    background-color: black;
    color: white;    
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 100%;
    border:0.5px;
    border-radius: 0%;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:last-child {
    background-color: #df974d;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #c9a440;
}

.calc-button:last-child:active {
    background-color: #a35b13;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.double {
    width: 212%;   
}

.triple {
    width: 318.5%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

